/* main container with grid layout */
.detailsLayout {
    background-color: #F8F8F8;
    border-radius: 1rem;
    display: grid;
    /* single comlumn layout */
    grid-template-columns: 1fr;
    padding: 2rem;
    height: auto;
    width: 50rem;
    /* centers the layout */
    margin: 0 auto;
    /* adds shadow */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* prerequisites layout with flexbox */
.prereqsLayout {
    background-color: #FFFFFF;
    box-shadow: 0em 0.5em 1em rgba(0,0,0,0.1);
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.8rem;
    margin-left: 1em;
    margin-bottom: 1.5em;
    height: auto;
    width: 100%;
    align-items: center; 
}

/* reviews layout as inline blocks */
.reviewsLayout {
    background-color: #FFFFFF;
    border-radius: 1rem;
    height: auto;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    box-shadow: 0em 0.5em 1em rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center;
    /* display: inline-block; */
}

h1 {
    color: #0C0D49;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

h2 {
    color: #0C0D49;
    font-size: 1.4rem;
    padding-left: 0;
    margin-bottom: 1rem;
}

h4 {
    color: #0C0D49;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
}

p {
    color: #7D7C7C;
    font-weight: 500;
    font-size: 1rem;
    /* padding-right: 1rem; */
    font-style: italic;
    /* adds space between paragraphs */
    margin: 0.5rem 0;
}

/* reviews grid for 3-colum layout */
.reviewsContainer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
}

.reviewItem {
    background-color: #FFFFFF;
    border-radius: 0.8rem;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.reviewTitle {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #0C0D49;
}